.restaurant-card__image-wrapper {
  width: 318px;
  height: 256px;
  margin-bottom: -5px;
  /*background: url("restaurant_m.png") no-repeat;*/
  /*background-size: cover;*/
}

.restaurant-card__description {
  width: 318px;
  height: 110px;
  padding-bottom: 20px;
  margin-bottom: 16px;
}

.restaurant-card_grey-background {
  background-color: rgba(117,117,117,0.04);
}

.restaurant-card__name {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 4px;
  font-family: var(--roboto-font);
  font-size: 16px;
  line-height: 24px;
  color: var(--black_color);
  cursor: pointer;
}

.restaurant-card__average-price {
  font-family: var(--roboto-font);
  font-size: 14px;
  line-height: 21px;
  color: var(--white-grey_color);
  margin: 0;
}

.restaurant-card__cooking-time {
  font-family: var(--roboto-font);
  font-size: 13px;
  line-height: 21px;
  color: var(--black_color);
  margin: 0;
}
