.header {
  width: 100%;
  height: 72px;
  margin: 0 auto;
  background: var(--white_color);
  box-shadow: 0 0 16px  rgba(38, 38, 38, 0.16);
}

.header__inner-wrapper {
  /*width: 965px;*/
  margin: 0 82px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.header__logo-wrapper {
  position: relative;
  margin-right: 123px;
}

.header__delivery-terms-wrapper {
  max-width: 390px;
  display: flex;
  margin-right: 52px;
}

.header-authorization__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  max-width: 176px;
  margin-right: 52px;
}



