.Delivery-terms {
  width: 385px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.delivery-terms__description {
  font-family: var(--roboto-font);
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: var(--white-grey_color);
}

.delivery-terms__time-settings {
  width: 65px;
  height: 40px;
  border: 1px solid var(--whiter-than-white-grey_color);
  box-sizing: border-box;
  border-radius: 2px;
  padding-left: 12px;
}

.delivery-terms__time-settings::placeholder {
  font-family: var(--roboto-font);
  font-size: 16px;
  line-height: 24px;
  color: var(--dark_color);
}

.delivery-terms__address {
  width: 292px;
  height: 40px;
  border: 1px solid var(--whiter-than-white-grey_color);
  box-sizing: border-box;
  border-radius: 2px;
  padding-left: 36px;
}

.delivery-terms__address::placeholder {
  font-family: var(--roboto-font);
  font-size: 16px;
  line-height: 24px;
  color: var(--dark_color);
}

.delivery-terms__location {
  position: relative;
}

.delivery-terms__location:before {
  content: "";
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
  width: 16px;
  background: url("./img/location.svg") center / contain no-repeat;
}
