.restaurants-search__wrapper {
  margin: 25px 82px 0;
}

.restaurants-search__container {
  height: 55px;
  margin: 0 auto;
}

.restaurants-search__input {
  width: 100%;
  height: 100%;
  border: transparent;
  border-bottom: solid 1px rgba(117, 117, 117, 0.6);
  padding-left: 30px;
  background-color: transparent;
  outline: none;
}

.restaurants-search__input::placeholder {
  font-family: var(--roboto-font);
  font-size: 16px;
  line-height: 24px;
  color: var(--white-grey_color);
  opacity: 0.5;
}

.restaurants-search {
  position: relative;
}

.restaurants-search:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 22px;
  background: url("search.svg") center / contain no-repeat;
}
