.Restaurant-nav {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
}

.restaurant-nav__option {
  /*padding-right: 40px;*/
  font-family: var(--roboto-font);
  font-size: 16px;
  line-height: 19px;
  padding-top: 32px;
  padding-bottom: 29px;
}

.restaurant-nav__option-link {
  color: var(--white-grey_color);
}

.restaurant-nav__option-link:hover {
  color: var(--white-grey_color);
}

.restaurant-nav__option-link:hover {
  color: var(--dark_color);
}

.restaurant-nav__bottom-line {
  height: 2px;
  color: blue;
  background-color: rgba(117, 117, 117, 0.3);
  border: none;
}
