.Main-page {
  display: flex;
  flex-direction: column;
}

.Main-page__title {
  font-family: var(--roboto-font);
  font-size: 22px;
  line-height: 34px;
  color: var(--black_color);
  padding-top: 56px;
  margin: 0 0 16px;
}

.Main-page__section {
  margin-bottom: 64px;
}

.Main-page-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.Main-page-cards::after {
  content: "";
  flex: 0 0 33%;
}
