.Header {
  height: 72px;
  background: var(--white_color);
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}

.Header__inner-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
