.Authorization-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.authorization-option__form {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 200px;
}

.authorization-options__buying-link {
  position: relative;
  right: 1px;
  cursor: pointer;
}
