@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
}

.restaurant-card {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-delay: 100ms;
}

.restaurant-card:hover {
  animation-name: bounce;
}

.restaurant-card__image-wrapper {
  width: 318px;
  height: 256px;
  margin-bottom: -5px;
}

.restaurant-card__description {
  width: 318px;
  height: 110px;
  padding-bottom: 20px;
  margin-bottom: 16px;
}

.restaurant-card__name {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 4px;
  font-family: var(--roboto-font);
  font-size: 16px;
  line-height: 24px;
  color: var(--black_color);
  cursor: pointer;
}

.restaurant-card__average-price {
  font-family: var(--roboto-font);
  font-size: 14px;
  line-height: 21px;
  color: var(--white-grey_color);
  margin: 0;
}

.restaurant-card__cooking-time {
  font-family: var(--roboto-font);
  font-size: 13px;
  line-height: 21px;
  color: var(--black_color);
  margin: 0;
}
